.flex-col
{
    display: flex;
}
#cats-container
{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cat, a.cat { /* Target both div and a for backward compatibility and future-proofing */
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    display: flex; /* Makes the <a> tags behave like flex containers */
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Ensures text color is consistent */
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1), box-shadow 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.cat:hover, a.cat:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.cat:hover > .cat-image
{
    transform: scale(1.1);
}
.cat-image
{
    width: 100%;
    height: calc(100% + 40px);
    object-fit: cover;
}
.img-wrapper
{
    display: flex;
    justify-content: top;
    align-items: top;
    overflow: hidden;
    max-width: 100%;
    max-height: 200px;
    background-color: red;
    border-radius: 10px;
}