.flex-col
{
    display: flex;
}
#cats-container
{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cat
{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.cat:hover > .cat-image
{
    transform: scale(1.1);
}
.cat-image
{
    width: calc()%;
    height: 100%;
    object-fit: cover;
}
.img-wrapper
{
    display: flex;
    justify-content: top;
    align-items: top;
    overflow: hidden;
    max-width: 100%;
    max-height: 200px;
    background-color: red;
    border-radius: 10px;
}


